spring-azhou/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.azhou.cloud/schema/azhou"
		elementFormDefault="qualified"
		>
	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="userName" type="xsd:string"/>
			<xsd:attribute name="passWord" type="xsd:string"/>
			<xsd:attribute name="nickName" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
